# Node Environment
NODE_ENV=development

# Infrastructure
MONGODB_URI=mongodb://localhost:27017/banking
REDIS_URL=redis://localhost:6379
KAFKA_BROKERS=localhost:9092

# Security & JWT
JWT_ACCESS_SECRET=supersecret_access_jwt_key_change_in_production
JWT_REFRESH_SECRET=supersecret_refresh_jwt_key_change_in_production
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d

# Gateway & Microservice Port Mapping
API_GATEWAY_PORT=3000
FRONTEND_PORT=3001

AUTH_SERVICE_PORT=4001
CUSTOMER_SERVICE_PORT=4002
ACCOUNT_SERVICE_PORT=4003
TRANSACTION_SERVICE_PORT=4004
LEDGER_SERVICE_PORT=4005
PAYMENT_SERVICE_PORT=4006
WALLET_SERVICE_PORT=4007
BENEFICIARY_SERVICE_PORT=4008
NOTIFICATION_SERVICE_PORT=4009
KYC_RISK_SERVICE_PORT=4010
REPORTING_SERVICE_PORT=4011

# gRPC Service Port Mapping
AUTH_GRPC_PORT=50051
CUSTOMER_GRPC_PORT=50052
ACCOUNT_GRPC_PORT=50053
TRANSACTION_GRPC_PORT=50054
LEDGER_GRPC_PORT=50055
PAYMENT_GRPC_PORT=50056
WALLET_GRPC_PORT=50057
BENEFICIARY_GRPC_PORT=50058
NOTIFICATION_GRPC_PORT=50059
KYC_RISK_GRPC_PORT=50060
REPORTING_GRPC_PORT=50061
